body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: rgba(0, 0, 0, 0.0001);
}

.container {
    width: 1280px;
    margin: 0 auto;
}

/* header */

.logo {
    margin: 65px 0 40px;
}

.logo-title {
    font-weight: 400;
    font-size: 80px;
    line-height: 95px;
}

.logo-title span {
    color: #4BCAFF;
}

.header-nav-block {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 70px;
    background: #35444F;
}

.header-nav{
    display: flex;
}

.header-nav li {
    border-right: 1px solid #FFFFFF;
}

.header-nav li:first-child {
    border-left: 1px solid #FFFFFF;
}

.header-nav a {
    display: block;
    padding: 24px 40px 18px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.header-nav a:hover {
    background: #222F3A;
}

/* header */



/* main */

main {
    padding-top: 50px;
    display: flex;
}

.side-nav-block {
    width: 343px;
    border: 1px solid #000000;

}

.side-nav {
    display: flex;
    flex-direction: column;
}

.side-nav li {
    height: 80px;
}

.side-nav a {
    display: block;
    padding: 26px 40px 26px 40px;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    color: #485863;

    transition: 0.5s;
}

.side-nav a:hover {
    background: #DBDBDB;
    color: #000000;
    text-align: left;
    padding-left: 80px;
}

.content-block {
    width: 885px;
    margin-left: 50px;
    margin-bottom: 54px;
}

.image-block {
    width: 883px;
    height: 530px;
    border: 1px solid #000000;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-block img {
    transition: 0.8s;
}

.image-block img:hover {
    transform: scale(1.4);
}

.content {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    padding-top: 37px;
}

.content p:first-child {
    padding-bottom: 34px;
}

/* main */



/* footer */

footer div {
    width: 1280px;
    height: 70px;
    background: rgba(99, 105, 110, 0.48);

    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.footer-nav-block {
    display: flex;
    align-items: center;
}

.footer-nav {
    width: 875px;

    display: flex;
    justify-content: space-between;
    margin-left: 40px;
}

.footer-nav a {
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    color: #0C1927;
    padding-bottom: 5px;
}

.footer-nav a:hover {
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
}

.copyright {
    display: flex;
    align-items: center;
    margin-right: 40px;

    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #010101;
}

/* footer */