@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}

.menu {
    width: 620px;
    margin: 30px auto;
}

.menu-item {
    display: inline-block;
    margin-right: 50px;
}

.menu-item:last-child {
    margin-right: 0;
}

.menu-link {
    color: #FF0000;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2.7px;
    text-transform: uppercase;
}

.photo {
    display: block;
    margin: auto;
}

.container {
    width: 1145px;
    margin: 0 auto;
    text-align: center;
}

.title {
    color: #373737;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    line-height: 27px;

    margin-top: 50px;
    padding-bottom: 38px;
}

.content {
    color: #373737;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2.4px;
    line-height: 26px;

    margin-bottom: 28px;
}

.button {
    margin: 62px auto 82px;
    display: block;

    background-color: #FF0000;
    padding: 18px 43px;
    border-radius: 4px;

    text-align: center;

    color: #FFFFFF;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.8px;
    text-transform: uppercase;
}

.info {
    display: block;
    margin-bottom: 30px;
    text-align: right;

    color: #373737;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2.4px;
    line-height: 20px;
}